body {
    display: block; 
    position: absolute;
    clear: both;
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

.header-container {
    display: block;
    position: absolute;
    top: 1em;
    transform: translateX(50%);
    padding-left: .5em;
    padding-right: .5em;
    margin-left: auto;
    margin-right: auto;
    right: 50%;
}

.nav-parent-container {
    display: block;
    position: absolute;
    top: 6em;
    transform: translateX(50%);
    padding-left: .5em;
    padding-right: .5em;
    margin-left: auto;
    margin-right: auto;
    right: 50%;
    background-color: slategrey;
    border-radius: 25px;
}

.nav-parent-container > a {
    padding: 15px;
    text-decoration: none !important;
    color: white;
}

.nav-parent-container > a > span {
    padding: 0.2em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 25px;
}

.nav-parent-container > a:hover span {
    background-color: darkgrey;
    cursor: pointer;
}
